/* .wrapper {
  position: relative;
  padding-top: 56.25%
}

.player {
  position: absolute;
  top: 0;
  left: 0;
} */

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }


.img-carousel{
   width:925px;  /*tamaño modificado*/
    height: 400px;
}

.carousel-wrapper{
    position: relative;
    max-width:100%;
    max-height:400px;
    background-size: cover;
}

.centerVideo{
    display:inline-block;
}

@media (max-width: 700px){
    .centerVideo{
        display: contents;
    }
}
