.mobile-footer{
    display: none;
}

.computer-footer{
    display: block;
    min-height: 15vh;
}

.title{
    align-content: center;
}

@media (min-width: 500px) and (max-width: 600px){
    .mobile-footer{
        display: inline-block;
    }
    .computer-footer{
        display: none;
    }
}

.how p{
    align-content: center;
    font-size: small;
    font-family: 'Roboto', sans-serif;
}

.how h4{
    width: 80%;
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: mediums;
}

.how h5{
    width: 80%;
    margin-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.how h6{
    font-size: small;
}

a{
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
}