.mobile-footer{
    display: none;
}

.computer-footer{
    display: block;
}

@media (min-width: 500px) and (max-width: 600px){
    .mobile-footer{
        display: inline-block;
    }
    .computer-footer{
        display: none;
    }
}


