#background{
  z-index: -1;
  height: calc(100vh - 66px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url(../../images/portada.jpg);
}

#formulario {
  width: 70vw;
  height: 60vh;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 251, 248, 0.945);
  padding: 30px;
  border-radius: 5px;
  
}

#left-letters{
  text-align: left;
}

.backButton{
  float: left;
}

.forwardButton{
  float: right;
}

#confirmationButton{
  float: right;
}



#enviar {
  float: right;
}

#mas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tel{
  width: auto;
}