@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #002c55;
    font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #002c55;
    font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #002c55;
}

input::placeholder,
textarea::placeholder {
    color: #002c55;
    font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
    color:#002c55;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
    color: #002c55;
    font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
    color: #002c55;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
    color: #002c55;
    font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
    color: #002c55;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
    color: #002c55;
    font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
    color: #002c55;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #002c55;
    font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
    color: #002c55;
}

input:hover::placeholder,
textarea:hover::placeholder {
    color: #002c55;
    font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
    color: #002c55;
}

.body {
    font-family: 'Lato', sans-serif;
    background: #FAFAFA;
    color: #b3aca7;
    padding-top: 10%;
    margin-top: 10%;
    align-content: center;
}


#form {
    position: relative;
    width: 500px;
    height: auto;
    justify-content: center;
}

.player {
    background: white;
    width: auto;
    min-height: 150px;
    max-height: 40%;
    box-shadow: 0 15px 35px -5px rgba(50, 88, 130, 0.32);
    border-radius: 15px;
    padding: 30px 30px 15px;
    margin-top: 5%;
}
@media screen and (max-width: 576px), (max-height: 500px) {
    .player {
        width: 95%;
        margin-top: 75px;
        min-height: initial;
        padding: 20px 20px 30px;
        max-width: 400px;
    }
}

.color{
    border-color: #002c55 !important;
}

.color:hover{
    background-color: #002c55;
}

.player {
    position: relative;
}

input {
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;

    border: solid 1px #002c55;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    color: #e2dedb;
}

textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: #002c55;
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;

    border: solid 1px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
    color: #e2dedb;
}

#submit {
    width: 470px;

    padding: 0;
    margin: -5px 0px 0px 0px;

    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    color: #b3aca7;

    outline:none;
    cursor: pointer;

    border: solid 1px #002c55;

}

#submit:hover {
    color: #002c55;
}