#background{
  z-index: -1;
  padding-top: 10vh;
  padding-bottom: 2vh;
  min-height: 85vh;
  width: 100%;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fafafa;
}

#formulario {
  width: 100%;
  min-height: 55vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#left-letters{
  text-align: left;
}

.invalidInput{
  color: rgb(199, 53, 53);
}

.bottomButton{
  position: relative;
  bottom: 10px;
  height: 14vh;
  width: 100%;
}

.btn{
  background-color:  #29468A !important;
  color: white !important;
  opacity: 0.9;
}

.uccColor{
  color:  #29468A !important;
}

.backButton{
  float: left;
  top: 70%;
  position: absolute;
}

.deleteButton{
  top: 70%;
  margin-left: 50%;
  margin-right: 50%;
  position: absolute;
}

.forwardButton{
  float: right;
  top: 70%;
  position: absolute;
}

.addButton{
  float: right;
  position: absolute;
}

.pasosDonation{
  display: ruby;
  padding: 1%;
}

#confirmationButton{
  float: right;
}

#enviar {
  float: right;
}

#mas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tel{
  width: auto;
}

.tab{
  z-index: 10;
  float: left;
  display: flex;
  position: relative;
}


.b2{
  color: rgb(59, 59, 59);
}

.b2:hover{
  text-decoration: none;
  color: #61b3e4;
}

.mobile-intro{
  display: none;
}

.mobile-donation{
display: none;
}


@media(max-width: 440px){
  .media-intro{
    display: inline-block;
  }

  .mobile-intro{
    display: inline-block;
  }

  .computer-intro{
    display: none;
  }
}

@media (max-width: 540px){
  .computer-donation{
    display: none;
  }

  .mobile-donation{
    display: inline;
  }
}

@media (min-width:1200px){
  .donation{
  width: 40vw;
}
}

