#background{
  z-index: -1;
  height: calc(100vh - 66px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #fafafa;
}

#formulario {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee5e;
  padding: 30px;
  border-radius: 5px;
  
}

#left-letters{
  text-align: left;
}

.invalidInput{
  color: rgb(199, 53, 53);
}

.bottomButton{
  position: relative;
  bottom: 10px;
  height: 14vh;
  width: 100%;
}

.bottomButton2{
  position: relative;
  bottom: 10px;
  height: 5vh;
  padding-top: 20%;
}

.backButton{
  float: left;
  top: 70%;
  position: absolute;
}

.forwardButton{
  float: right;
  top: 70%;
  position: absolute;
}

.centerButton{
  text-align: center;
  display: block;
}

.pasosDonation{
  margin: 5px;
  display: ruby;
}

#confirmationButton{
  float: right;
}

#enviar {
  float: right;
}

#mas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tel{
  width: auto;
}

.donaciones{
  background-color: ghostwhite;
  padding-top: 0;
  height: 700px;
  width: 100%;
}
