.navbar {
  text-decoration-color: #002c55;
  background-color: #EEEEEE;
}

.b1{
  margin-right: 30px;
}

.b2{
  margin-right: 17px;
  text-decoration: none;
  color: rgb(59, 59, 59);
}

.b2:hover{
  text-decoration: none;
  color: #61b3e4;
  padding: 0px;
  
}

//Eliminar borde punteado a los enlaces
a:active, a:active * { outline: none !important; -moz-outline-style: none !important; }
a:focus, a:focus * { outline: none !important; -moz-outline-style: none !important; }