.navbar {
  text-decoration-color: #002c55;
  background-color: #EEEEEE;
}

.b1{
  margin-right: 30px;
}

.b2{
  margin-right: 17px;
  text-decoration: none;
  color: rgb(59, 59, 59);
}

.b2:hover{
  text-decoration: none;
  color: #61b3e4;
  padding: 0px;

}

Eliminar borde punteado a los enlaces
a:active, a:active * {
  outline: none !important;
  outline-style: none !important;
}
a:focus, a:focus * {
  outline: none !important;
  outline-style: none !important;
}

.mobile-menu{
display: none;
}

@media (max-width: 540px) {
  .navbar {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu ul {
    list-style-type: none;
    border-radius: 5px 5px 0 0;
    border: 1px  #424242;
    display: grid;
    justify-self: end;
  }

  .mobile-menu li{
    padding-bottom: 0.5rem;
  }

  .mobile-menu Link {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }

  .mobile-menu Link:hover {
    color: #002c55;
  }
}