.navbar {
  text-decoration-color: #002c55;
  background-color: #EEEEEE;
  padding: 0 0 0 20vh;
}

.links Link{
  border-bottom: 4px solid transparent;
  display: block;
  text-align: center;
}

.links > .active {
  border-bottom: 4px solid #61b3e4;
}

.b1{
  margin-right: 30px;
}

.b2{
  text-decoration: none;
  color: rgb(59, 59, 59);
  padding: 19px 25px 13px;
}

.b2:hover{
  text-decoration: none;
  color: #61b3e4;
}

Eliminar borde punteado a los enlaces
a:active, a:active * {
  outline: none !important;
  outline-style: none !important;
}
a:focus, a:focus * {
  outline: none !important;
  outline-style: none !important;
}

.mobile-menu{
display: none;
  margin-left: 0;

  padding-left: 0;
}

@media (max-width: 540px) {
  .navbar {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu ul {
    list-style-type: none;
    padding-left: 0;
    border: 1px  #424242;
    display: grid;
    justify-self: center;
  }

  .mobile-menu li{
    padding-bottom: 0.5rem;
  }

  .mobile-menu Link {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }

  .mobile-menu Link:hover {
    color: #002c55;
  }
}