#web {
  max-width: available;
  height: 90vh;
  text-align: center;
}

div.background {
  background-repeat: repeat;
  background-image: url(../../images/imagenportada.jpg);
  background-position: center;
}

div.transbox {
  background-color: #ffffff;
  opacity: 0.6;
}


div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
