div.background {
  background-repeat: repeat;
  background-image: url(../../images/imagenportada.jpg);
  background-position: center;
}

div.transbox {
  background-color: #ffffff;
  opacity: 0.6;
}

div.transbox p {
  font-weight: normal;
  color: #000000;
}
