
#mainRow{
    padding: 0;
    margin: 0%;

}

#ytVideo{
    position: relative;
    padding: 0%;
}

#title{
    margin:auto;
}

.blueBackground {
    background-color: #002C55;
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
  }
  /* .containert {
    width: 70%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    padding-left: 30%;
    margin-top: -1%;
    margin-bottom: -18%;
    background-color: #002C55;
  } */
    /* .playert {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    } */
  


/* #ayudanos{
    margin-top: -18%;
    width: 100%;
    height: 100%;
    background-color: #002C55 !important;
} */

.overlay{
    background-color: #002C55 !important;
    /* opacity: 0.5; */
    background-blend-mode: multiply;
}

#ayudanosDiv{
    background-color: #002C55 !important;
    width: 100%;
    height: 100%;
}

#intro {
    background-color: red;
}

.overlay {
    position: 'absolute';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }

.background {
    /* background-image: url(../../images/portada.jpg); */
    max-width:100%;
    min-height:400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-decoration-color: white;
}

.transbox {
    background-color: transparent;
    width: 20%;
    height: 50%;
    padding-top: 15%;
    padding-bottom: 5%;
}

.totalContainer{
    margin-top: 55px;
    padding: 0;
    background-color: #F9F9F9;
}

@media screen {
    .logo1{
        display: none;
    }
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 690px) {
    .transbox{
        padding-top: 40%;
    }

}

@media (max-width: 670px){
    .transbox{
        padding-top: 50%;
    }

}

@media (max-width: 550px){
    .transbox{
        padding-top: 70%;
        width: 100%;
    }

}

.site-section {
    padding: 1em;
}

.site-section.site-section-sm {
    padding: 1em 0;
}

.heading h2 {
    font-size: 2rem;
    letter-spacing: .1em;
    position: relative;
    padding-bottom: 15px;
}

@media (max-width: 450px) {
    .transbox{
        display: none;
    }
    .logo2{
        display: none;
    }
    .logo1{
        display: inline-flex;
    }
}


.info{
    /* padding-top: 5%; */
    margin: auto;
}

.info-1{
    padding-top: 5%;
}

.who{
    background-color: #F9F9F9;
}

.where{
    background-color: #E4DEDE;
}

.what{
    background-color: #F5EEEE;
}

.how{
    background-color: #002C55;
    color: ivory;
}

.how h2{
    width: 80%;
    margin-left: 10%;
}


.how p{
    transition: transform .3s;
    width: 80%;
    margin-left: 10%;
}


#map{
    width: 100%;
    height: 20rem;
    border: none;
    padding: 5%;
}

.link{
    background-color: rgb(55, 76, 94);
    color: #fafafa;
    width: 100%;
    height: 80%;
}

.link:hover{
    background-color: rgb(19, 40, 59);
}

.btn{
    margin-bottom: 20px;
}

.w-border{
    padding-top: 15px;
}
