.title{
    text-align: center;
    color: black;
    background-color: rgb(228, 222, 222);
}

.how h6{
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

#iconos{
    background-color: #fafafa;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}